.navbar {
    position: sticky;
    top: 0;
    background-color: #010523;
    padding: 10px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
  }
  
  .navbar-brand {
    color: #09c309;
    font-weight: bold;
    font-size: 2rem;
    flex-grow: 1;
    text-align: center;
    margin-right: 50%;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
  }
  
  .navbar-button {
    margin-left: 30px;
    padding: 8px 20px;
    background-color: #0a430a;
    text-decoration: none;
    color: #f6fef6;
    font-weight: bold;
    border-radius: 10px;
    font-size: 1.1rem;
  }
  
  .navbar-button:hover {
    background-color: #999;
  }