.footer {

    background-color: #333;
    color: #fff;

    /* padding: 0.8rem; */
    height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    /* height: fit-content; */
    /* margin-top: auto; */
}